/*
material shadows 
1dp
box-shadow: 0 0 2px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);

2dp
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14), 0 3px 4px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);

4dp
box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.20);

6dp
box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px 0 rgba(0,0,0,0.20);

8dp
box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 3px rgba(0,0,0,0.12), 0 4px 5px 0 rgba(0,0,0,0.20);

16dp
box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px 0 rgba(0,0,0,0.20);
*/

/* Headers font-family: 'Ubuntu Mono', monospace;*/
/* Text font-family: 'Roboto Slab', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,700&display=swap');
/* Colors: #F1F2F0, #C6987C, #D4A952, #CC4A55, #15162B */
:root{
  --white:#F1F2F0;
  --brown:#C6987C;
  --skin:#D4A952;
  --red:#cc4a55;
  --blue:#15162B;
  --title: 'Ubuntu Mono', monospace;
  --text: 'Roboto Slab', serif;
  font-size: 14px;
  font-family: var(--text);
  color: var(--blue);
  -webkit-tap-highlight-color: transparent;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,.nav__link{
  text-decoration: none;
  color: var(--brown);
}

button{
  border: none;
  cursor: pointer;
}

body{
  background-color: var(--blue);
}

hr{
  background-color: #475957;
  border: 1px solid #475957;
}

h1,h2,h3,h4{
  font-family: var(--title);
  color: var(--red);
  font-weight: bold;
  line-height: 1;
}

h2{ font-size: 30px;}
h3{ font-size: 24px;}

summary {
  display: flex;
  cursor: pointer;
}

details:focus, summary:focus {
  outline: none;
}

option{
  font-size: 16px;
}

img{
  user-select: none;
  transition: transform 1s !important;
}

img:hover {
  transform: rotate(180deg);
}

.container{
  display: flex;
  justify-content: center;
}

.auth__content{
  margin: 5rem;
  padding: 2rem;
  max-width: 550px;
  border-radius: 25px;
  background-color: var(--white);
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.20);
}
.content__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0.5rem 0;
  flex-wrap: wrap;
}
.header__title{
  font-family: var(--title);
  font-size: 40px;
  color: var(--red);
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
}

.header__title:hover,.card__link > h3:hover, .goto:hover, .scrap a:hover{
  transition: 0.5s;
  color: #851822;
}

.content__wrapper{
  padding: 3rem 0 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper__form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form__title{
  font-family: var(--title);
  font-size: 30px;
  color: var(--red);
  font-weight: bold;
  line-height: 1;
}
.form__subtext{
  font-size: 12px;
  padding: 0.2rem 0 1rem 0;
}
.form__subtext-link{
  text-decoration: underline;
}
.form__input {
  outline: none;
  font-size: 14px;
  padding: 15px;
  border: 2px solid var(--skin);
  border-radius: 6px;
  font-family: var(--title);
  font-size: 20px;
  color: var(--blue);
  width: 100%;
}
.form__input[type="email"]{
  margin: 0 0 1rem 0;
}

.reg__form{
  margin: 0 0 1rem 0;
}

.form__input:hover, .show__input:hover{
  transition: 0.5s;
  border: 2px solid var(--red);
}

.form__input:focus, .show__input:focus{
  transition: 0.5s;
  border: 2px solid var(--red);
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}

.button {
  background-color: var(--skin);
  font-family: var(--title);
  font-size: 25px;
  font-weight: bold;
  color: var(--white);
  padding: 1rem 3rem;
  text-align: center;
  border-radius: 6px;
  transition: 0.5s;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}

.button:hover{
  background-color: #8A651B;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}

.verify_button{
  margin: 15px 0 0 0;
}

.verify_text{
  font-size: 20px;
}

.reg__twoConf{
  margin: 0 0 30px 0;
  font-size: 20px;
  font-weight: bold;
}

.home{
padding: 0 5rem;
}

.home__head{
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 0 0 25px 25px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.20);
}

.home__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.nav__ul{
  list-style: none;
}

.nav__link{
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  margin: 10px 15px 10px 15px;
}

.home__header-change{
  display: flex;
  justify-content: center;
}

.change__img{
  cursor: pointer;
  background-color: #CC4A55;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}

.grow{
  width: 33%;
}

.svg{
  cursor: pointer;
  width: 35px;
  transition: filter 0.5s;
}

.header__account{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 20px;
}

.nav__link > span{
  padding: 0 0 0 15px;
}

.nav__link:hover span{
  transition: 1s;
  color: #CC4A55;
}

.nav__link:hover img  {
  transform: rotate(180deg);
}

.svg:hover, .nav__link:hover img  {
  filter: brightness(0.7);
}

.home__wishlists{
  background-color: var(--white);
  border-radius: 25px;
  padding:0 2rem;
  margin: 50px 0 025px 0;
}

.wishlists__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav__buttons{
  display: flex;
  justify-content: space-between;
  width: 520px;
  flex-wrap: wrap;
}

.nav__buttons-link{
  background-color: var(--red);
  color: var(--white);
  font-size: 14px;
  padding: 1rem 1.5rem 1rem 0.5rem;
  border-radius: 6px;
  font-weight: bold;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
  transition: background-color 0.5s;
}

.nav__buttons-link > img{
  margin: 0 10px;
}

.nav__buttons-link:hover img{
  transform: rotate(180deg);
  transition: 1s;
}

.nav__buttons-link:hover{
  
  background-color: var(--skin);
}

.wishlist__content{
  padding: 30px 0px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.content__card{
  background-color: white;
  padding: 2rem 2rem 1rem 2rem;
  border-radius: 6px;
  width: max-content;
  margin: 20px 10px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.20);
  transition: box-shadow 0.5s;
}

.content__card:hover {
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px 0 rgba(0,0,0,0.20);
}

.card__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__link-img{
  width: 250px;
  height: auto;
}

.card__options{
  display: flex;
  justify-content: flex-end;
}

.card__link > h3{
  transition: 1s;
  max-width: 255px;
  text-align: center;
}

.details{
  position: relative;
  user-select: none;
}

.details__show{
  z-index: 2;
  position: absolute;
  background-color: white;
  border-radius: 6px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.20);
}

.show__input{
  outline: none;
  font-size: 14px;
  width: 110%;
  padding: 15px;
  border: 2px solid var(--skin);
  border-radius: 6px;
  font-family: var(--text);
  color: var(--blue);
  margin: 0 0 15px 0;
}

.show__button{
  align-items: center;
  display: flex;
  cursor: pointer;
  background-color: #a6c285;
  color: white;
  font-size: 14px;
  padding: 1rem;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.5s;
}

.show__button:hover{
  background-color: #8fa775;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}

.select{
  appearance: none;
  background: url('../images/expand_more.svg') no-repeat right center;
  outline: 0;
}

.details__show > textarea{
  max-width: 110%;
  max-height: 250px;
  min-height: 65px;
  min-width: 110%;
  transition: 0s !important;
}

.details__show > textarea:focus, .details__show > textarea:hover{
  transition: 0s !important;
}

.underline, .wishlists__nav > h2:hover{
  transition: 0.2s;
  border-bottom: 5px solid #CC4A55;
}

.nonunderline{
  transition: 0.2s;
  border-bottom: 0px solid #CC4A55;
}

.noWishes{
  font-size: 20px;
  font-weight: bold;
}

details summary::-webkit-details-marker {
  display: none;
}

.summary-img{
  transition: transform 1s;
  margin: 2px 10px 0 0;
  width: 24px;
  height: 24px;
}

.show__button:hover img{
  transform: rotate(180deg);
  transition: 1s;
}

.wishes__content{
  max-width: max-content;
}

.user__wishlist{
  padding: 20px 0 0 0;
}

.wish{
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wish__header-title{
  margin: 0 30px 0 0;
}

.wish__content{
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
}

.wish__num{
  width: 30px;
  height: auto;
}

.wish__text{
  word-break: break-word;
  margin: 0 15px 0 0;
}

.true{
  text-decoration: line-through; 
}

.temp_class{
  margin: 15px 0 0 0;
}

.wish__buttons{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.custom__container{
  transition: 1s;
  display: none;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.custom__window{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 25px 80px;
  position: fixed;
  left: 50%;
  top: 3%;
  transform: translate(-50%);
  background-color: var(--white);
  border: 2px solid var(--red);
  border-radius: 6px;
}

.custom__window-text{
  color: var(--red);
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.custom__window-close{
  position: absolute;
  right: 2%;
  top: 5%;
  cursor: pointer;
}

.custom__window-buttons{
  width: 125%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: none;
  padding: 15px 0 0 0;
}

.custom__window-buttons > button{
  outline: none;
  background-color: var(--red);
  color: var(--white);
  font-size: 14px;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 14%), 0 2px 2px 0 rgb(0 0 0 / 12%), 0 1px 3px 0 rgb(0 0 0 / 20%);
}

.custom__window-buttons > button:hover{
  transition: 0.8s;
  background-color: #A6C285;
}

.home__about{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about__content{
  padding: 2rem 0;
}

.about__content-text{
  padding:  0 0 2rem 0;
}

.about__content-text--p{
  padding: 1rem 0;
  font-size: 18px;
  line-height: 35px;
}

.about__content-articles{
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.about__content-articles--article{
  font-size: 40px;
  font-family: var(--title);
  color: var(--red);
  font-weight: bold;
}

.goto{
  transition: 1s;
  padding: 6rem 0 0 0;
  text-decoration: underline;
  cursor: pointer;
}

.about__content-articles:last-child{
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.about__content-articles--img{
  width: 22rem;
  height: auto;
}

.about__content-articles--img---vertical{
  height: 50%;
  width: 7rem;
}

.about__prewiew{
  margin: 15px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about__prewiew-img{
  width: 60%;
  border-radius: 8px;
  transform: none !important;
}

.scrap{
  max-width: 760px;
}

.scrap a{
  color: var(--red);
}

.scrap__text{
  padding: 1rem 0;
}

.scrap__body{
  padding: 1rem 0;
}

.scrap__body-wrapper{
  padding: 2rem 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.scrap__body-wrapper--input{
  transition: border 1s;
  width: 80%;
  font-size: 14px;
  color: var(--blue);
  font-family: var(--text);
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid var(--red);
  border-radius: 4px 0 0 4px;
}

.scrap__body-wrapper--button{
  transition: 1s;
  display: flex;
  align-items: center;
  background-color: var(--red);
  border: 6.5px solid var(--red);
  border-radius: 0px 4px 4px 0;
  width: 20%;
  cursor: pointer;
  justify-content: center;
}

.scrap__body-wrapper--button:hover {
  filter: brightness(0.7);
}

.scrap__body-wrapper--button:hover img{
  transform: rotate(180deg);
}

.scrap__body-wrapper--button:hover ~ .scrap__body-wrapper--input{
  border: 2px solid #8F343B;
}

.scrap__output-img{
  user-select: none;
  transition: 1s;
  /* display: none; */
}


@media(max-width: 1050px){
  .home__header {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .grow {
    width: max-content;
  }
  .header__nav{
    padding: 1rem 0;
    max-width: 100%;
  }
  .wishlists__nav {
    padding: 2rem 0 0 0;
}
}

@media(max-width: 500px){
  .header__container{
    margin: 15px 0 0 0;
  }
  .home {
    padding: 0;
  }
  .auth__content {
    margin: 5rem 0 1rem 0;
    max-width: none;
    width: 100%;
  }
  .form__input {
    padding: 10px;
  }
  .grow {
    width: max-content;
  }
  .form__subtext {
    text-align: center;
  }
  .custom__window {
    width: 100%;
    height: max-content;
    left: 0%;
    top: 0%;
    transform: translate(0%);
    border: 3px solid var(--red);
    border-radius: 4px;
  }
  .about__content-articles--img{
    width: 15rem;
  }
  .about__content-articles--img---vertical{
    width: 5rem;
  }
  .card__link-img {
    width: 150px;
  }
  .card__link > h3 {
    max-width: 150px;
  }

  .about__prewiew-img {
    width: 100%;
    border-radius: 0px;
  }
}

@media(max-width:350px){
  .form__input {
    width: 100%;
  }
  .header__account{
    font-size: 15px;
  }
  .home__header {
    padding: 0rem !important;
  }
  .nav__buttons-link {
    font-size: 12px;
    padding: 0.5rem 1rem 0.5rem 0rem;
    margin: 10px 0;
  }
  .card__link > h3 {
    font-size: 16px;
    max-width: 75px;
  }
  .svg {
    width: 25px;
  }
  .card__link-img {
    width: 80px;
  }
  .content__card {
    padding: 1rem 1rem 0.5rem 1rem;
    margin: 1rem 0.5px;
  }
  .wishlist__content {
    padding: 0.5rem 0px;
  }
  h2 {
    font-size: 24px;
  }
  .about__content-text--p {
    padding: 0rem 0;
    font-size: 14px;
    line-height: 30px;
  }
}